header {
  height: 100px;
  background-color: rgb(3, 191, 248);
  width: 1080px;
}

body {
  width: 1080px;
  height: 400px;
  background-color: rgba(41, 189, 189, 0.4);
  margin: 10px;
}

nav {
  height: 70px;
}

nav img {
  display: inline-block;
  width: 200px;
  height: 70px;
  margin-left: 55px;
}

.navi {
  display: inline-block;
  vertical-align: top;
  margin-left: 30px;
}

nav li {
  display: inline-block;
  line-height: 70px;
  text-align: center;
  background-color: #ff0000;
  margin-right: 30px;
  width: 100px;
  text-decoration: none;
}

li a {
  text-decoration: none;
  color: #FFFFFF;
  display: block;
}

li a:hover {
  text-decoration: none;
  color: white;
  background-color: #33B5E5;
  border-radius: 50%;
}

ul img {
  height: 260px;
  width: 260px;
  margin: 15px;
}

.container {
  display: flex;
  flex-direction: row;
  align-content: space-evenly;
  margin: 40px 40px 0px 40px
}

div button {
  display: block;
  height: auto;
  width: 360px;
  margin: auto;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
}

.button {
  margin: auto;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

#button-one {
  color: white;
  background-color: red;
}

#button-two {
  color: black;
  background-color: white;
}

#button-three {
  color: white;
  background-color: blue;
}

.class {
  width: 960px;
  margin: auto; 
}

p {
  text-align: center;
}

#myChart {
  width: 960px !important;
  height: 960px !important;
}

footer {
  height: 100px;
  background-color: rgb(3, 191, 248);
  width: 1080px;
  margin-top: 20px;
}

footer ul {
  width: fit-content;
  margin: auto;
  padding: 10px;
}